@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('sea2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.container {
    padding: 20px 70px;
    color: #fff;
}

.current-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: wrap;
}

.date-container .time {
    font-size: 70px;
    font-weight: 100;
}

.date-container #am-pm {
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date {
    font-size: 30px;
}

.place-container {
    text-align: end;
}

.place-container .time-zone {
    font-size: 40px;
    text-align: 30px;
    font-weight: 100;
}

.place-container .country {
    font-size: 15px;
    font-weight: 700;
}

.current-info .others {
     display: flex;
     flex-direction: column;
     background: rgba(24,24,27,0.6);
     padding: 20px;
     border-radius: 10px;
     margin: 10px 0;
     border: 1px solid #eee;
     width: 200px;
}

.current-info .others .weather-item {
    display: flex;
    justify-content: space-between;
}

.future-forecast {
    background:  rgba(24,24,27,0.6);
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.future-forecast .today {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    margin: 0 10px;
    padding: 5px;
}

.future-forecast .today .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp {
    font-size: 20px;
    padding-top: 15px;
}

.future-forecast .weather-forecast {
    display: flex;
}

.weather-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 5px;
}

.future-forecast .weather-forecast-item .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .weather-forecast-item .temp {
    font-weight: 100;
}

@media only screen and (max-width: 730px) {

    .container {
        padding: 20px;
    }

    .future-forecast {
        justify-content: start;
        align-items: none;
        overflow-x:scroll;
    }

    .future-forecast .today .temp {
        font-size: 23px;
    }

    .date-container .time {
        font-size: 50px;
    }

    .date-container #am-pm {
        font-size: 20px;
    }

    .date-container .date {
        font-size: 20px;
    }

    .place-container {
        text-align: end;
        margin-top: 15px;
    }

    .place-container .time-zone {
        font-size: 20px;
    }

    .current-info .others {
        padding: 12px;
    }

    .current-info .others .weather-item {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1000px) {
    .future-forecast {
        justify-content: start;
        align-items: none;
        overflow-x:scroll;
    }
}